/dist/
/build
/manifest.mf
/Rcolors/Colors/.*
/Rcolors/Colors/Colors.Rproj*
/build.xml
/nbproject
/lib/CopyLibs
/lib/nblibr*
/allDatasets
/code/StableTreemap/nbproject/private/
/code/StableTreemap/build/
